body {
    margin: 0;
    background-color: white;
}
canvas {
    display: block;
    margin: 0 auto;
}

@font-face {
    font-family:'MSYaHei';
    src: url('/fonts/Microsoft YaHei UI.eot');
	src: url('/fonts/Microsoft YaHei UI.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Microsoft YaHei UI.woff2') format('woff2'),
        url('/fonts/Microsoft YaHei UI.woff') format('woff'),
        url('/fonts/MicrosoftYaHeiUI.tff') format('truetype'),
		url('/fonts/Microsoft YaHei UI.svg#Microsoft YaHei UI') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0021-2074;
}